.simule{
  height: 450px;
}

.container form input{
display: block;
border: 2px solid #D3956C;
border-radius: 2px;
margin: 10px 0px;
width: 300px;
resize: none;
font-size: 18px;
height: 30px;
color: #576E74;
}
 
.container form{
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 18px;
  width: 350px;
}

.container button{
  cursor: pointer;
}

.wrapper-simule{
  padding: 60px;
  display: flex;
  justify-content: space-between;
  color: #3b4d51;
}

.wrapper-simule .dados h2{
  font-family: 'Oswald', Helvetica, sans-serif;
  line-height: 35px;
  font-size: 24px;
  margin-bottom: 10px;
}

.dados{
  line-height: 35px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  width: 280px;
}

.wrapper-simule .dados .redes-sociais .titulo-footer{
  font-family: 'Oswald', Helvetica, sans-serif;
  color: #3b4d51;
}

.container form button:hover{
  background: #D3956C;
  color: #fff;
}

.container form button{
  background: #fff;
  color: #D3956C;
  border: 1px solid #D3956C;
  padding: 8px;
}
